<div data-block="minicart" data-bind="scope: 'minicart_content'">
    <a href="{{ getUrl('checkout/cart') }}" class="text-decoration-none" data-bind="click: openMinicart">
        {{ bs_icon('bag', '30px') }}
        <!-- ko if: getCartParam('summary_count') -->
        <span class="badge bg-primary" style="top: -4px; right: -6px">
            <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
            <span class="sr-only" data-bind="i18n: 'items'"></span>
        </span>
        <!-- /ko -->
    </a>
    <div class="d-none">
        <div data-bind="afterRender: initModal">
            <div class="overflow-auto">
                <!-- ko template: getTemplate() --><!-- /ko -->
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                MODAL GOES HERE
                <div class="fixed-bottom p-2 shadow-lg bg-white border-top">
                    <a href="#" class="btn btn-icon btn-outline-primary btn-block">{{ bs_icon('bag') }} Cart</a>
                    <a href="#" class="btn btn-icon btn-success btn-block">{{ bs_icon('chevron-right') }} Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.checkout = {{ block.getSerializedConfig()|raw }};
</script>
<script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": {{ block.getJsLayout()|raw }}
        }
    }
</script>