<a
    class="logo"
    href="{{ block.getUrl('/') }}"
    title="{{ block.getThemeName() ? block.getThemeName() : block.getLogoAlt() }}"
    aria-label="store logo">
    <img src="{{ block.getLogoSrc() }}"
         title="{{ block.getLogoAlt() }}"
         alt="{{ block.getLogoAlt() }}"
         {% if block.getLogoWidth() %}width="{{ block.getLogoWidth() }}"{% endif %}
         {% if block.getLogoWidth() %}height="{{ block.getLogoHeight() }}"{% endif %}
         class="img-fluid"
    />
</a>
